@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1d1d1d;
}