@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .tab-0{
    @apply mx-2 sm:mx-4 lg:mx-8;
  }
  .tab-1{
    @apply mx-3 sm:mx-7 lg:mx-12;
  }
  .tab-2{
    @apply mx-5 sm:mx-10 lg:mx-16;
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1d1d1d;
}