@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .tab-0{
    @apply ml-1 sm:ml-1 md:ml-0 lg:ml-0;
  }
  .tab-1{
    @apply ml-2 sm:ml-4 md:ml-3 lg:ml-4;
  }
  .tab-2{
    @apply ml-4 sm:ml-7 md:ml-5 lg:ml-8;
  }
  .tab-3{
    @apply ml-6 sm:ml-11 md:ml-8 lg:ml-12;
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1d1d1d;
}