@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .tab-0{
    @apply ml-2 sm:ml-4 lg:ml-8;
  }
  .tab-1{
    @apply ml-3 sm:ml-7 lg:ml-12;
  }
  .tab-2{
    @apply ml-5 sm:ml-10 lg:ml-16;
  }
  .tab-3{
    @apply ml-7 sm:ml-14 lg:ml-20;
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1d1d1d;
}